body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background: #f8f8f8 url(../images/bg.png);
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
#wrapper {
    max-width: 960px;
    margin: auto;
}